@page
@model IndexModel

@{
    ViewData["Title"] = "Browser Headers | Displays your HTTP request headers";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Header</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
@foreach (var header in @Model.HttpContext.Request.Headers.OrderBy(x => x.Key))
{
            <tr>
                <td>@header.Key</td>
                <td>@header.Value</td>
            </tr>
}
    </tbody>
</table>
